#auth {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    top: 25vh;
    left: 25vw;
    background-color: grey;
    visibility: hidden;
}

#login,
#password {
    color: grey;
}